<:Title>
  Home
 
<:Body>
  <h1>Home</h1>
  {{ if Volt.user }}
    <div class="row">
      <div class="col-md-4">
        {{ _users.each do |user| }}
          {{ if user._id != Volt.user._id }}
            <div class="contact {{ if params._user_id == user._id }} active {{ end }}" e-click="select_conversation(user)">
              {{user._name}}
              {{ if unread_notifications_from(user).count > 0 }}
                <span class="badge">
                  {{ unread_notifications_from(user).count }}
                </span>
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </div>
      {{ if params._user_id }}
        <div class="col-md-8 well conversation">
          {{ current_conversation.each do |message| }}
            <div class="message {{ if message._sender_id == Volt.user._id }} sent {{ end }}">
              <p>{{ message._text }}</p>
            </div>
          {{ end }}
 
          {{ if current_conversation.count == 0 }}
            <p>You have no messages yet. Start chatting!</p>
          {{ else }}
            <div class="clearfix"></div>
          {{ end }}
 
          {{ if Volt.user._is_speaker == true }}
            <form e-submit="send_message" role="form">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Please try to express your opinion clearly" value="{{ page._new_message }}" />
                <button type="submit" class="btn btn-primary pull-right">Send</button>
              </div>
            </form>
            {{ _users.each do |user| }}
              {{ if user._id == params._user_id }}
                {{ if user._go_ahead == false }}
                  <button type="button" e-click="go_ahead(user)" class="btn btn-warning">Go ahead</button>
                {{ else }}
                  <button type="button" e-click="not_quite(user)" class="btn btn-danger">Not quite</button>
                {{ end }}
                <button type="button" e-click="i_feel_understood(user)" class="btn btn-success">I feel understood!</button>
              {{ end }}
            {{ end }}
          {{ else }}
            {{ _users.each do |user| }}
              {{ if user._id == params._user_id }}
                {{ if Volt.user._go_ahead == true }}
                  <form e-submit="send_message" role="form">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Please try to express what they are saying in your own words" value="{{ page._new_message }}" />
                      <button type="submit" class="btn btn-primary pull-right">Send</button>
                    </div>
                  </form>
                {{ else }}
                  <button type="button" e-click="i_think_i_understand(user)" class="btn btn-warning">I think I understand</button>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}

        </div>
      {{ end }}
    </div>
  {{ else }}
    <p>This is a sample application built with Volt to demonstrate its real-time capabilities. Please log in to access it.</p>
  {{ end }}
